@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --midasBlack: #030304;
    --midasYellow: #CE990D;
    --midasGrey: #D9D9D9;
    --midasWhite: #ffffff;
    --secubdaryTexts: #6D6D6D;
}

body{
    width: 100vw;
    height: 100vh;

    background: #030304;
    display: flex;
    flex-direction: column;

}

h1, h2{
    font-family: 'Russo One', sans-serif;
    font-size: 2.2rem;
}
h3, h4, h5, h6{
    font-family: 'Russo One', sans-serif;
    font-size: 1.9rem;
}
p{
    color: var(--secubdaryTexts);
}

footer{
    width: 100%;
    height: 5vh;

}